@model ESharpMashtiHasan.Models.EmployeeListAndSearchModel
@{
	var EmployeeList = Model.employeeListItems;
	Shapping.DomainModel.BusinessModel.Employee.EmployeeSearchModel sm = Model.sm;
}

@if (Model == null || EmployeeList.Count == 0)
{
    <h3 class="text-center text-danger"> 
		There is no Employee
	</h3>
}
else
{
	<table class="table table-bordered table-striped table-hover table-sm">
		<tr>
			<td>AddressID</td>
			<td>Age</td>
			<td>FirstName</td>
			<td>LastName</td>
			<td>Evidence</td>
			<td>Position</td>
			<td>MobileNumber</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
		@foreach (var item in EmployeeList)
		{
			<tr id="tr_@item.EmployeeID">
				<td>@item.AddressID</td>
				<td>@item.Age</td>
				<td>@item.FirstName</td>
				<td>@item.LastName</td>
				<td>@item.Evidence</td>
				<td>@item.Position</td>
				<td>@item.MobileNumber</td>
				<td>Edit</td>
				<td>
					<span class="btn btn-danger btn-sm btnDeleteEmployee" data-id="@item.EmployeeID" >Delete</span>
				</td>
			</tr>
		}
		<tr>
			<td colspan="9" class="text-center">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						@for (int i = 0; i < sm.PageCount; i++)
						{
							sm.PageIndex = i;
							<li class="page-item">


								@Html.ActionLink((i + 1).ToString(), "Index", "EmployeeManagement", sm, new { @class = "page-link" })

							</li>
						}
					</ul>
				</nav>
			</td>
		</tr>
	</table>
}